

#contact{
    position: relative;
}

#Contact::before{
    content: "";
    position:absolute;
    height: 577px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background:url('/static/img/icecontact.jpg')no-repeat center center/cover ;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

/*utility classes*/
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    
}

.h-secondary{
    font-size: 2.4rem;
    padding: 12px;
}

.center{
    text-align: center;
}
/*utility classes*/
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    
}

.h-secondary{
    font-size: 2.4rem;
    padding: 12px;
    
}

.center{
    text-align: center;
}