#service::before{
    content: "";
    position:absolute;
    height: 760px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    margin-top: -25px;
    background:url('/static/img/13.jpg')no-repeat center center/cover ;
}
