{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
{% load static %}




<div class="bg-white">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Suraj Icecream</h1>
                <p class="lead text-muted mb-0">We are started this Ice Creame Corner in January 2021.</p>
                <p class="lead text-muted">founded by Suraj Sawant.
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="{% static 'static/img/ab1.jpg' %}" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">We are always happy to serve you </h2>
                <p class="font-italic text-muted mb-4">The quality of ice creams is the best part of our Services
                We are also taking care about the variety in the flavour and taste of it .
                Our ice creams shops are almost every city in india.</p>
                    
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="{% static 'static/img/happy.jpg' %}" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="{% static 'static/img/satisfaction.jpg' %}" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Customer satisfaction is first preference.</h2>
                <p class="font-italic text-muted mb-4">We are taking a survey in order to get the idea
                about the customer so that we come to know what flavors they are looking for.
                </p>
            </div>
        </div>
    </div>
</div>




{% endblock body%}